#footer{
    margin-top : 10vmax;
    padding : 2vmax;
    background-color : rgb(10, 9, 9);
    color : white;
    display : flex;
    align-items : center;
}

.leftFooter { 
    width : 20%;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.leftFooter > h4{
    font-family : "Roboto";
    font-size: 1vmax;
}

.leftFooter > p{
     text-align: center;
     font-size: 1.2vmax;
     font-family: 'Times New Roman', Times, serif;
}

.leftFooter > img{
    width : 10vmax;
    margin : 1vmax;
    cursor : pointer;
}

.midFooter { 
    width : 60%;
    text-align : center;
}

.midFooter > h1{
    font-size: 4vmax;
    font-family: "Roboto";
    color : rgb(219, 59, 59);
}

.midFooter > p{
    max-width: 60%;
    font-family: 'Times New Roman', Times, serif;
    margin: 1vmax auto;
}

.rightFooter {
    width : 20%;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.rightFooter > h4{
    font-family: "Roboto";
    font-size: 1.4vmax;
    text-decoration: underline;
}

.rightFooter > a{
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: 'Times New Roman', Times, serif;
    color : white;
    transition: all 0.5s;
    margin : 0.5vmax;
}

.rightFooter > a:hover{
    color :rgb(219, 59, 59);
}