.login{
  width : 100vw;
  height : 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top : 0%;
  left : 0;
}

.login-box{
  background-color: white;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height : 70%;
  transition: all 0.5s;
}
.login-box > h2{
  color : rgba(0,0,0,0.667);
  font: 300 1.5vmax "Roboto";
  border-bottom: 1px solid rgba(0,0,0,0.267);
}
.login-box > p{
  color : rgba(0,0,0,0.667);
  font: 300 0.5vmax "Roboto";
}
.login-box > div{
  display : flex;
  width: 100%;
  align-items: center;
}

.login-box > a{
  color : rgba(0, 0, 0, 0.63);
  text-decoration: none;
  /* align-self: flex-end; */
  transition: all 0.5s;
  font: 500 1vmax "Gill Sans";
}

#register{
  margin-top : 0.5vmax;
}

.login-box > a:hover{
  color : rgb(0, 0, 0);
}

.login-box > div > input {
  padding: 1vmax 4vmax;
  width : 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.login-box > div > svg{
  position : absolute;
  transform: translate(1vmax);
  font-size : 1.6max;
  color : rgba(0,0,0,0.667);
}
.login-btn{
  border: none;
  background-color: tomato;
  color : white;
  font : 300 0.9vmax "Roboto";
  width : 100%;
  padding : 1vmax;
  margin: 0.2vmax;
  cursor : pointer;
  transition: all 0.5s;
  border-radius: 5px;
  outline: none;
  box-shadow:0 2px 5px rgba(0,0,0,0.267);
}

.login-btn:hover { 
  background-color: rgb(255, 38, 0);
} 


@media screen and (max-width: 600px){
  .login{
    background-color: white;
  }

  .login-box{
    width : 100vw;
    height: 100vh;
    padding: 5vmax;
  }

  .login-box > h2{
    font : 300 2vmax "Roboto";
  }

.login-box > div > input{
  padding: 2.5vmax 5vmax;
  font : 300 1.7vmax cursive;
}

.login-box > div > svg{
  font-size: 2.8vmax;
}

.login-box > a{
  font : 500 1.8vmax "Gill Sans";
}
.login-box > p{
  font : 300 1vmax "Gill Sans";
}
.login-btn{
  font : 300 1.9vmax "Roboto";
  padding : 1.8vmax;
}
}